.header{
    display: flex;
    margin: 10px;
    border: 1px solid black;
    justify-content: space-between;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top :3px;
    margin-left: 2px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card img{
    width : 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.Menu
{
    display: flex;
}